.dd {
  background-image: url(https://upload.pandorajs.com/image/1.jpg);
  display: none;
}

.bb {
  background: url('https://upload.pandorajs.com/image/3.jpg');
  display: none;
}

.ee {
  background: none;
}
